<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/shows"> GO BACK</a>
    
   <h1>TV SHOW {{show.id}} </h1>
   <h3> Title : {{show.title}}</h3>
   <h3> Network : {{show.network}}</h3>
   <h3> Release date : {{show.releasedate}}</h3>
   <h3>Description: {{show.description}}</h3>
   <h5> Last updated:{{show.updated_at}}</h5>


<a href="/shows/{{show.id}}/edit"> Edit</a>
<a href="/shows/{{show.id}}/destroy"> Delete</a>
</body>
</html>